//  Primary

$LightRed: hsla(0, 100%, 67%, 0.1);
$orangeyYellow: hsla(39, 100%, 56%, .1);
$greenTeal: hsla(166, 100%, 37%, .1);
;
$cobaltBlue: hsla(234, 85%, 45%, .1);

$LightRedColor: hsl(0, 100%, 67%); //#ff5757
$orangeyYellowColor: hsl(39, 100%, 56%); //#ffb01f
$greenTelColor: hsl(166, 100%, 37%); //#00bd91
$cobaltBlueColor: hsl(234, 85%, 45%); // #1125d4


// Gradients 
$LightSlateBlueBg: hsl(252, 100%, 67%); //#7857ff
$LightRoyalBlueBg: hsl(241, 81%, 54%); // #2e2be9


$violetBlueCircle: hsl(256, 72%, 46%); //#4e21ca
$persianBlueCircle: hsla(241, 72%, 46%, 0);

// Neutral
$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGrayBlue: hsl(224, 30%, 27%);